<main class='newpage'>
<% include ../partials/header.ejs %>

<form method='POST' action='/articles'> 
    <input class='addNewBtn' type='text' name='title' placeholder='Add title here'><br>
    <input class='addNewBtn' type='textbox' name='name' placeholder='Sumbit article content here'><br>
    <input type='submit'>
</form>

<% include ../partials/footer.ejs %>
</main>